@import "/src/assets/scss/utilities/mixins";
@import "/src/assets/scss/utilities/variables";
@import "/src/assets/scss/utilities/responsive";
@import "/src/assets/scss/base/typo";

button {
  position: relative;
  overflow: hidden;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  border: 1px solid transparent;
  text-align: center;
  font-weight: $font-weight-medium;
  width: 100%;
  padding: spToRem(12)+rem $spacers-l;
  border-radius: $spacers-m;
  font-family: 'Rubik', sans-serif;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.8s all cubic-bezier(0.55, 0, 0.1, 1);
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
  }

  & span {
    position: relative;
    z-index: 2;
    line-height: 0;
  }

  &.primary {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;
    &::before {
        background-color: lighten($color-blue, 7%);
    }
    &:focus-within {
      border-color: $color-black;
    }
  }
  &.secondary {
    color: $color-black;
    background-color: transparent;
    border-color: $color-blue;
    &::before {
        background-color: rgba($color-blue, .8);
    }
    &:focus-within {
      border-color: $color-black;
    }
  }
  &.featured {
    background-color: $color-black;
    color: $color-white;
    &::before {
        background-color: lighten($color-black, 20%);
    }
    &:focus-within {
      border-color: $color-blue;
    }
  }
}
