@import "/src/theme/scss/utilities/mixins";
@import "/src/theme/scss/utilities/variables";
@import "/src/theme/scss/utilities/responsive";
@import "/src/theme/scss/base/typo";

button {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: spToRem(12)+rem $spacers-l;
	border: 1px solid transparent;
	border-radius: $spacers-m;
	font-weight: $font-weight-medium;
	font-size: 1rem;
	font-family: "Rubik", sans-serif;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	appearance: none;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 100%;
		transition: 0.8s all cubic-bezier(0.55, 0, 0.1, 1);
		transform: translate(-50%, -50%) scale(0);
	}

	&:hover::before {
		transform: translate(-50%, -50%) scale(1.2);
	}

	& span {
		position: relative;
		z-index: 2;
		line-height: 0;
	}

	&.primary {
		border-color: $color-blue;
		background-color: $color-blue;
		color: $color-white;

		&::before {
			background-color: lighten($color-blue, 7%);
		}

		&:focus-within {
			border-color: $color-black;
		}
	}

	&.secondary {
		border-color: $color-blue;
		background-color: transparent;
		color: $color-black;

		&::before {
			background-color: rgba($color-blue, 0.8);
		}

		&:focus-within {
			border-color: $color-black;
		}
	}

	&.featured {
		background-color: $color-black;
		color: $color-white;

		&::before {
			background-color: lighten($color-black, 20%);
		}

		&:focus-within {
			border-color: $color-blue;
		}
	}
}
