@import "/src/index.scss";

li {
    font-weight: $font-weight-light;
    margin-bottom: $spacers-l;
    @include base-flex(flex, stretch, center);

    &.unavailable {
        opacity: $opacity-low;
    }
    
    &::before {
        content: '';
        display: inline-block;
        width: $spacers-l;
        height: $spacers-l;
        background: url(/assets/img/icons/check.svg) no-repeat center center;
        margin-right: $spacers-m;
    }
}