@import "/src/index.scss";

.featured {
	& li::before {
		filter: invert(1);
	}
}

li {
	@include base-flex(flex, stretch, center);

	font-weight: $font-weight-light;

	&:not(:last-child) {
		margin-bottom: $spacers-l;
	}

	&.unavailable {
		opacity: $opacity-low;
	}

	&::before {
		content: "";
		display: inline-block;
		width: $spacers-l;
		height: $spacers-l;
		margin-right: $spacers-m;
		background: url(/assets/img/icons/check.svg) no-repeat center center;
	}
}
