@import "/src/assets/scss/utilities/mixins";
@import "/src/assets/scss/utilities/variables";
@import "/src/assets/scss/utilities/responsive";
@import "/src/assets/scss/utilities/animations";
@import "/src/assets/scss/base/typo";

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(2px);
    @include base-flex(flex, center, center);
    animation: $animation-blur;

    &__content {
        position: relative;
        @include base-flex(flex, stretch, stretch);
        gap: $spacers-l;
        flex-direction: column; 
        background-color: $color-white;
        box-shadow: $box-shadow-lg;
        padding: $spacers-l;
        border-radius: $spacers-m;
        animation: $animation-scale;
        
    }

    &__subtitle {
        @extend .base-body-small;
    }

    &__description {
        @extend .base-body-small;
        color: $color-grey;
        margin-bottom: $spacers-l;
    }

    &__title {
        @extend .base-h2;
        line-height: 1;
    }

    &__close {
        @include base-flex(flex, center, center);
        position: absolute;
        right: $spacers-m;
        top: $spacers-m;
        padding: $spacers-s;
        aspect-ratio: 1;
        max-width: $spacers-xxl;
        background-color: transparent;
        border-color: transparent;
        transition: border-color .5s;
        
        &:hover {
            border-color: $color-blue;
        }
    }
}




  