@import "/src/theme/scss/utilities/mixins";
@import "/src/theme/scss/utilities/variables";
@import "/src/theme/scss/utilities/responsive";
@import "/src/theme/scss/utilities/animations";
@import "/src/theme/scss/base/typo";

.modal {
	@include base-flex(flex, center, center);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.219);
	animation: $animation-blur;
	backdrop-filter: blur(2px);

	&__content {
		@include base-flex(flex, stretch, stretch);

		position: relative;
		flex-direction: column;
		gap: $spacers-l;
		padding: $spacers-l;
		border-radius: $spacers-m;
		background-color: $color-white;
		box-shadow: $box-shadow-lg;
		animation: $animation-scale;
	}

	&__subtitle {
		@extend .base-body-small;
	}

	&__description {
		@extend .base-body-small;

		margin-bottom: $spacers-l;
		color: $color-grey;
	}

	&__title {
		@extend .base-h2;

		line-height: 1;
	}

	&__close {
		@include base-flex(flex, center, center);

		position: absolute;
		top: $spacers-m;
		right: $spacers-m;
		max-width: $spacers-xxl;
		padding: $spacers-s;
		border-color: transparent;
		background-color: transparent;
		transition: border-color 0.5s;
		aspect-ratio: 1;

		&:hover {
			border-color: $color-blue;
		}
	}
}
