@import "/src/theme/scss/utilities/mixins";
@import "/src/theme/scss/utilities/variables";
@import "/src/theme/scss/utilities/responsive";
@import "/src/theme/scss/base/typo";

.container {
	position: relative;
	width: 100%;
	max-width: 1045px;
	height: 100vh;
	margin: 0 auto;
	padding: $container-padding-y $container-padding-x;
}

.row {
	@include base-flex(flex, center, center);
	gap: $gutters;
	@include desktop-max {
		flex-wrap: wrap;
	}
}

.col {
	@include desktop-min {
		width: calc(#{$width-third} - #{$gutters-third});
	}

	@include desktop-max {
		width: 100%;
	}
}
