@import "/src/assets/scss/utilities/mixins";
@import "/src/assets/scss/utilities/variables";
@import "/src/assets/scss/utilities/responsive";
@import "/src/assets/scss/base/typo";

.container {
	position: relative;
	width: 100%;
	max-width: 1045px;
	height: 100vh;
	margin: 0 auto;
	padding: $container-padding-y $container-padding-x;
}

.row {
	@include base-flex(flex, center, center);

	flex-wrap: wrap;
	gap: $gutters;
}

.col {
	@include tablet-min {
		flex: 1 0;
	}

	@include tablet-max {
		width: 100%;
	}
}
